.button {
  height: 40px;
  width: 100%;
  
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 1px solid #707070;
  border-radius: 4px;
  opacity: 1;
  color: #888888;

  font-family: Helvetica Neue;
  
}