.produtos {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}

.grid-cards{
  margin-top: 30px;
  display:grid;
  grid-template-columns: auto auto auto auto;
  max-width: 900px;
  gap: 30px;
  justify-content: center;
  
}

.div-botao {
  width: 260px;
}