.header-container {
  background: #707070 0% 0% no-repeat padding-box;
  border: 1px solid #707070;
  opacity: 1;
  align-items: center;
  display: flex;
  flex-direction: column;
  color: #ffffff;
  justify-content: center;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 300px;

  font-family: Helvetica Neue;
}

.textoUm {
  margin-top: 0;
  font-size: 20px;
  
}

.textoDois {
  margin-top: 0;
  font-size: 48px;
  
}

.textoTres {
  margin-top: 0;
  font-size: 14px;
  
}

.header-botoes {
  display: flex;
  gap: 20px;
  margin-bottom: 130px;
  
}