.footer-container {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #707070;
  font-size: 12px;
  text-align: center;
  color: #FFFFFF;
  padding-bottom: 80px;
  padding-top: 20px;
  font-family: Helvetica Neue;
}